<h2>Edit Customer: <%= customer.name %> <%= customer.lastname %></h2>
<form action="/customers/<%= customer.id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %> 

    <a href="/customers/<%= customer.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>